.Home {
  .progress {
    text-align: center;
    width: 100%;
    margin-top: 80px;
  }

  .attractions {
    display: flex;
    flex-wrap: wrap;
  }

  .MuiCardContent-root {
    height: 100px;
  }
}
