.Home {
  .progress {
    text-align: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 80px;
  }

  .attractions {
    margin: 70px auto 20px;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1366px;
  }

  .MuiCardContent-root {
    height: 100px;
  }

  .MuiButtonBase-root {
    color: initial;
  }
}
